/*Site Wrapper---------------*/
#site-wrapper {
    width: 100%; 
    /* height: calc(100vh - (1.25em * 2 + 1.5rem)); */
    height: 100%;
}

#site-wrapper-grid {
    grid-template-columns: 1fr 3fr 1fr;
    height: inherit;
    padding: 1em 0em;
}

#site-wrapper-grid > * {
    padding-top: 15vh;
}

/*BREADCRUMBS----------------*/
#breadcrumbs {
    flex-direction: column;
    --gap: 2em;
}
/*Back Button----------------*/
#back-button-container {
    width: 100%;
}

#back-button {
    background: transparent;
    border: none; 
    --gap: 1em;
    opacity: 0.6; 
}

#back-button:hover {
    opacity: 1;
}

#timeline {
    position: relative;
    height: 100%; 
    width: 100%;
}

#timeline > hr{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%; 
    width: 0.1em; 
    background-color: hsl(var(--clr-white)/20%);
}

#timeline-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 100%;
    transform: translate(-50%, -50%);
}

#timeline-container > div{
    grid-template-columns: 50% 0.5em 50%;
}

#timeline-container > div > div{
    background-color: hsl(var(--clr-white));
    border-radius: 50%;
    width: 0.5em; 
    aspect-ratio: 1;
}

#timeline-container > p {
    grid-template-columns: 10% 0.5em auto;
}

#num-01, #num-02 {
    text-align: right;
}

.selected {
    border: 1px solid hsl(var(--clr-white)/30%); 
    padding: 0.5em;
}

/*EXPLORE WHERE--------------*/
/*Explore--------------------*/
#explore-where-content {
    flex-direction: column;
    --gap: 2.5em;
    padding-bottom: 3em;
}

#explore-where-content h1 {
    text-align: center;
}

#explore-where-container {
    width: 80%;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    width: 17vw;
    height: 55vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to top, hsl(var(--clr-dark)/90%), transparent), url(../images/earth-2.jpg);
    text-align: center;
}

.two {
    background-image: linear-gradient(to top, hsl(var(--clr-dark)/90%), transparent), url(../images/adventurer.jpg);
    background-size: 150%;
    
}

.card p {
    color: hsl(var(--clr-white)/50%);
}

/*Drop Down Menu-------------*/

#drop-down-input {
    border: 1px solid hsl(var(--clr-white));
    text-align: center;
    width: 80%;
    padding: 0.5em;
    opacity: 0.6;
    transition: var(--speed) ease;
}

#drop-down-input:hover {
    opacity: 1;
}

#drop-down-menu {
    width: 90%;
    height: 100%;
    padding-top: 0; 
    display: none;
}

#drop-down-menu-container {
    overflow: scroll;
    height: 50vh;
}

#drop-down-container:hover {
    opacity: 1;
}

.retract {
    transition: var(--speed) ease;
    transform: translateX(-10px);
    opacity: 0;
}
.display {
    transition: var(--speed) ease;
    transform: translateX(0px);
    opacity: 0.5;
}