@import url(setup.css);

h1 {
    font-size: var(--fs-800);
}

/*Hero-----------------------*/
#hero {
    background-image:
    linear-gradient(to top, hsl(var(--clr-dark)), transparent 12%), 
    radial-gradient(ellipse at center, #0004 10%, black), 
    url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#hero-wrapper {
    flex-direction: column;
}


#hero-wrapper>h1 {
    text-align: center;
}

#play-button {
    position: absolute;
    bottom: 5em;
    padding-inline: 1.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid hsl(var(--clr-white));
    background-color: transparent;
}


/*Explore the World----------*/

#explore-the-world {
    text-align: center;
    padding: 5em 0 5em 0;
}

#explore-the-world-container h3 {
    font-size: var(--fs-500);
}

#explore-the-world-container>div>p {
    text-align: center;
    margin: 1em 0 4em;
    opacity: 0.8;
}

#cards {
    --gap: 2em;
}

.card {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5em;
    padding-bottom: 2.5em;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card::after{
    content: "";
    position: absolute; 
    width: 100%; 
    height: 0.125em; 
    top: 100%; 
    background-color: hsl(var(--clr-white));
    transition:0.5s ease;
    transform: scaleX(0);
}

.card:hover::after{
    transform: scaleX(1);
}

.one {
    background-image: linear-gradient(#0001 50%, hsl(var(--clr-dark))), url(../../images/naeroyfjord.jpg);
}

.two {
    background-image: linear-gradient(#0003 40%, hsl(var(--clr-dark))), url(../../images/antelope-canyon.jpg);
}

.three {
    background-image: linear-gradient(#0003 40%, hsl(var(--clr-dark))), url(../../images/grossglockner.jpeg);
    margin-bottom: 4em;
    background-position: 30% 10%;
}


/*Pop Up Video---------------*/
#pop-up-video-container {
    position: fixed;
    z-index: 100;
    display: none;
    position: absolute;
    background-image: radial-gradient(ellipse at center, #0007 50%, transparent);
    top: 0;
    width: 100%;
    height: 100vh;
}

video {
    transition: var(--speed) ease;
    transform: translateY(50px);
    width: calc(100% - 10vw);
    aspect-ratio: 16/9;
    opacity: 0;
}


/*The Journal----------------*/

#the-journal {
    width: 100%;
    text-align: center;
}

#the-journal-container {
    width: 100%;
}

#the-journal-container>div>p {
    text-align: center;
    margin: 1em 0 4em;
    opacity: 0.8;
}

#the-journal-cards {
    gap: 3em;
    width: 100%;
    padding-inline: 2em;
    grid-template-columns: 50% 50%; 
}

.journal_card {
    width: 100%;
    background: hsl(var(--clr-dark-gray));
    padding-bottom: 4em;
    cursor: pointer;
}

.jcimg {
    width: 100%;
    aspect-ratio: 1.5/1;  
    background-size: 130%; 
    transition: var(--cubic-bezier) 0.5s;
    background-position: center;
}

.jcimg:hover {
    background-size: 150%;
}


.jcone>.jcimg {
    background-image: url(../images/yosemite-national-park.webp);
}

.jctwo>.jcimg {
    background-image: url(../images/golden-gate-bridge.jpg);
    background-position: center 20%;
}

.jcdate {
    margin: 1.5em 0 0.7em;
}

.jcone>div>p {
    margin-top: 1.5em;
    opacity: 0.7;
}

.jctwo>div>p {
    margin-top: 1.5em;
    opacity: 0.7;
}

#the-journal a {
    gap: 0.5em;
    margin-top: 5em;
}

#the-journal i {
    transition: var(--speed) ease;
}

#the-journal a:hover>i {
    transform: translateX(0.5em);
}


/*---------------------------------------------------------------*/
/*MEDIA QUERIES*/
@media(max-width:1237px) {

}

@media (max-width:768px) {
    h1 {
        font-size: var(--fs-700);
    }
    
    /*Pop Up Video---------------*/
    video {
        width: calc(100%);
        aspect-ratio: 16/9;
    }


    /*Explore the World----------*/
    #explore-the-world-container h3 {
        font-size: var(--fs-600);
    }
    

    #cards {
        flex-direction: column;
    }
    
    .card {
        cursor: pointer;
        height: 25vh;
    }

    .one {
        background-image: linear-gradient(#0001 40%, hsl(var(--clr-dark)/100%)), url(../images/naeroyfjord.jpg);
    }

    .two {
        background-image: linear-gradient(#0001 40%, hsl(var(--clr-dark)/75%)), url(../images/antelope-canyon.jpg);
    }

    .three {
        background-image: linear-gradient(#0001 40%, hsl(var(--clr-dark)/75%)), url(../images/grossglockner.jpeg);
    }

    .card > p {
        color: hsl(var(--clr-white)/70%);
    }

    /*Explore the World----------*/
    #the-journal-cards {
        grid-template-columns: 100%;
    }

}



@media (max-width: 414px) {
    #the-journal-cards {
        grid-template-columns: 100%;
        padding-inline: 0em;
    }
}